$padding-horizontal: 140px;
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$azul-caneta: #0d0179;
$black: #4c4d5e;
$blue: #282b57;
$dark: #242536;
$dark-grey: #92929d;
$grey: #e4e4e4;
$light-grey: #f6f6f6;
$red: #d73b3b;